<!DOCTYPE html>
<html>

<head>
    <!--Pour informer que le site est compatible mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <!-- LES CSS -->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/materialize.min.css">
</head>

<body>

    <!-- NAVBAR -->
    <nav>
        <div class="nav-wrapper green darken-1">
            <a href="#" class="brand-logo center">D-BOT <%= versiondbot %></a>
        </div>
        <div class="nav-wrapper green">
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="test.html">test</a></li>
            </ul>
        </div>
    </nav>


    <!-- LES SCRIPTS -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/js/materialize.min.js"></script>

</body>

</html>
